
/* root styling */

:root{
    --light : #f8f9fa;
    --secondary: #424446;
    --dark: #343a40;
    --primary-color: #ec8a19;
    --border : #e9ecef;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

* > *{
    box-sizing: border-box;
}


/* ------- Skip to Content tryling Start ---------- */

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

/* ------- Skip to Content tryling End ---------- */

/* Making links with icons accessable on screen reader */
.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* global styling */
.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--light);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.img-fluid{
    width: 100%;
}

.text-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.secondary-title{
    font-family: 'Poppins', sans-serif;
}

/* To use only for decorative headings */
.display-0{
    font-size: 24px;
}

.display-1{
    font-size: 16px;
}

.display-2{
    font-size: 14px;
}

.display-3{
    font-size: 12px;
}

/* Setting different font size hierarchy for larger devices */
@media screen and (min-width : 600px)
{

    .display-1{
        font-size: 24px;
    }
    
    .display-2{
        font-size: 16px;
    }
    
    .display-3{
        font-size: 14px;
    }

}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.object-fit{
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
}

.d-flex{
    display: flex;   
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

/* Setting up different margin and padding combinations that can be used*/
.mt-2{
    margin-top: 10px;
}

.mt-3{
    margin-top: 50px;
}

.mb-3{
    margin-bottom: 30px;
}

.m-0{
    margin: 0;
}

.px-1{
    padding-left: 5px;
    padding-right: 5px;
}

.px-2{
    padding-left: 20px;
    padding-right: 20px;
}

.py-1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-3{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-3{
    padding-top: 30px;
}

.rounded{
    height: 120px;
    width: 120px;
    object-fit: fill;
    border-radius: 99px;
}

.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

hr.solid {
  border-top: 0.5px solid rgb(218, 215, 215);
  width: 100%;
}

 
/* ------- Navigation Menu Start ---------- */

/* Flexbox navbar*/
.navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* Styling elements within navbar*/
.nav-brand{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Libre Baskerville', serif;
}

.nav-link:hover{
    color: var(--primary-color);
}

.search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}
.navbar-nav{
    padding: 10px;
}

.collapse{
    align-self: center;
}

/* Styling the hamburger icon*/
.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}

/* Desktop view */
@media (min-width : 1080x){
    .navbar{
        flex-direction: row;
    }

    .site-main{
        margin-top: 14em;
    }
}

.toggle-button{
    display: initial;
}

/* Make hamburger icon dissapear in tablet view */
@media (min-width : 557px)
{
    .toggle-button{
        display: none;
    }
    
}

@media (max-width : 574px){
    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.51,-0.15, 0, 0.98);
    }

    .collapse .nav-link{
        display: block;
        text-align: center;
    }

    .search-box{
        border-right: none;
    }

    .collapse-toggle{
        max-height: 500px;
    }

    .grid .grid-item{
        width: calc(100% - 20px);
    }

    .site-main{
        margin-top: 6em;
    }
}
/* ------- .Navigation Menu End ---------- */


/* ----------- Main Section ---------- */

.site-main{
    margin-top: 0.5em;
}

/* ----------- .Main Section ---------- */

/* ----------- Landing Page Section ---------- */
.landing-section {
    background-image:url('../images/landing_cover_2x.png');
    background-size:cover;
    background-color: #060606;
    background-position:center;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0 20px;
  }

.landing-section h1{
    font-size: 32px;
    color: #FFFFFF;
}

.landing-section h2{
    font-size: 18px;
    color: #FFFFFF;
}
.icon-colour
{
    color: #FFFFFF;
}
.cover-text{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;


}
.cover-heading{
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;

}

.cover-body{
    grid-column: 1 / span 2;
    grid-row: 2/ span 1;
}

.cover-icon{
    grid-column: 1 / span 1;
    grid-row: 3/ span 1;
    
}

@media (min-width : 1080px){
    .cover-heading{
        grid-column: 2 / span 1;    
    }
    
    .cover-body{
        grid-column: 2 / span 1;
    }
    
    .cover-icon{
        grid-column: 2 / span 1;
    }
}

/* ----------- Landing Page Section ---------- */

/* ----------- Text Content Start---------- */
.content p {
    padding-top: 10px;
}

/* ----------- Text Content End---------- */

/* ----------- Curated List Page Start---------- */
.list-row{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.list-col{
    flex: 0 0 calc(25%);
    margin: 5px;
    text-align: Center;
    height: auto;
    font-size: 10px;

}

@media (min-width : 557px)
{
    .list-col{
    flex: 0 0 calc(15%);
    font-size: 12px;
    }
}

/* ----------- Curated List Page End---------- */

/* ----------- Review Cards Start ---------- */
.container-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }
  .tag-dark {
    background-color: var(--dark);
  }
  .card-body p {
    font-size: 13px;
    margin: 0 0 10px;
  }
  
  
  /*Buttons */
  
  a.button1
  {
      display:inline-block;
      padding:0.35em 1.2em;
      border:0.1em solid #000000;
      margin:0 0.3em 0.3em 0;
      border-radius:0.12em;
      box-sizing: border-box;
      text-decoration:none;
  
      color:#000000;
      text-align:center;
      transition: all 0.2s;
  }    
  a.button1:hover{
      color:#ffffff;
      background-color:#000000;
      }
      @media all and (max-width:30em){
       a.button1{
      display:block;
      margin:0.4em auto;
      }
  }
/* ----------- Review Cards End ---------- */


/* ----------- About Us Start ---------- */
  .imageParent {
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    height: auto;
    transform: translateY(-30%);
}

.topdiv{
	background: #f09124;
	text-align: center;
	padding: 80px 0 120px 0;
	display: block;
    font-size: 28px;
}

@media (min-width : 550px){

    .topdiv{
        padding: 100px 0 180px 0;
        font-size: 32px;
    }

}

@media (min-width : 1000px){

    .topdiv{
        padding: 150px 0 250px 0;
        font-size: 42px;
    }

}

/* ----------- About Us End ---------- */

/* ----------- footer ---------- */
#footer{
    padding-top: 4em;
}

#footer .feature-post .flex-item{
    margin-bottom: 10px;
}

#footer .tags a{
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 15px;
}

#footer .copyrights{
    padding: 10px 0;
    border-top: 2px solid var(--light);
}


/* ----------- .footer ---------- */


/* ----------- article page ------- */

#post{
    padding: 2em 2em;
}
.tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.tag-margin{
    margin: 10px
}

.post-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width : 620px){

    .post-navigation{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

/* Thumbnail image for cover photo*/
.thumbnail{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width : 620px){

    .thumbnail{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

/* Video container styling */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

/* ----------- .article page ------- */




/* Media Query 

.row{
    display: flex;
}

@media (max-width : 1024px){
    .row{
       flex-wrap: wrap;
    }

    .col-3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-8{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }

}*/


.col-3{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 35px;
}

.col-8{
    flex: 0 0 70%;
    max-width: 70%;
}

.col-4{
    flex: 0 0 30%;
    max-width: 30%;
}
